<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout website Css</title>
    <link rel="stylesheet" href="main.css"> #liên kết file css
</head>

<body>
    <style>

    </style>
    #tạo khung lệnh div.wrapper 
    <div class="wrapper">
        #tạo khung lệnh div.header
        <div class="header">
            <h3>website-aesp</h3>
            <ul>
                <li><a href="">Home</a></li>

                <li><a href="">About</a></li>

                <li><a href="">Contact</a></li>
        </div>
        <!-- end header -->
         #tạo khung lệnh div.main-content
        <div class="main-content">  
            <div class="content">
                #tạo nội dung chính
                <h3>Home page</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, cupiditate, laboriosam iste inventore impedit debitis facilis, libero incidunt earum dolores blanditiis tempora eos alias ut eius? Doloribus eos recusandae error!</p>
                <p>Cupiditate neque veniam placeat eligendi dolores? Quaerat doloribus maxime fuga fugiat blanditiis ipsam, minima quidem iusto. Ullam in ratione, optio repellendus dolor quos sequi, magnam laboriosam ad odio et at.</p>
                <p>Quibusdam aut exercitationem sit dolorum laudantium quia quaerat nulla saepe quasi consequatur voluptas eius, sapiente accusamus officiis nobis dolor possimus? Atque, illo laudantium voluptatum modi minima architecto sapiente nostrum recusandae.</p>
                <p>Animi blanditiis accusamus impedit eaque consectetur. Et ex ut provident quae labore expedita repudiandae accusamus? Sed ipsam, quisquam fugit non voluptatem architecto neque debitis quasi nemo corrupti exercitationem animi dolorem.</p>

            </div>
            #tạo khung lệnh div.sidbar
            <div class="sidbar">
                <h3> Danh mục</h3>
                <ul>
                    <li><a href="">html Css</a></li>
                    <li><a href="">js</a></li>
                    <li><a href="">laravel</a></li>
                </ul>


            </div>


        </div>
        <!-- end main-content -->
        #tạo khung lệnh div.footter
        <div class="footter">
            <p>copyright &copy; by aesp.vn</p>
            
        </div>
        <!-- end footter -->

    </div>
</body>
</html>